.login {
  display: flex;
  flex-direction: row;
  img {
    flex-grow: 1;
    height: 95vh;
    width: 50vh;
    opacity: .9;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 50vh;
    margin-top: 5rem;
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 2rem
    }
    h2 {
      font-weight: 300;
      font-size: 1rem;
      padding-bottom: 1rem; 
    }
    .form--inputs {
      width: 25rem;
      display: flex;
      flex-direction: column;
      input {
        border: none;
        border-bottom: 1px solid lightgrey;
        outline: none;
        margin-bottom: 1rem;
      }
    }
    .row-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 300;
      .remember {
        display: flex;
      }
      &.account {
        align-self: flex-end;
        span {
          padding-right: 1rem;
        }
      }
    }
  }
  .btn {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: white;
  }
  .btn--submit {
    background: linear-gradient(to right, #5B4AA9, #4A63D1)
  }
  .btn--cancel {
    background: #222543;
    text-align: center;
    text-decoration: none;
    line-height: 2.1rem;
  }
}